<div *ngIf="!pswSent" class="form-box">
    <form [formGroup]="subscribeForm" (ngSubmit)="subscribe()" name="subscribeForm" method="POST">
        <input  type="text" id="mail" name="mail" class="form-control" formControlName="mail" placeholder="Inserisci la tua Email..."
        [ngClass]="{'is-invalid': subscribeForm.controls['mail'].errors!== null && subscribeForm.controls['mail'].touched, 
        'is-valid': subscribeForm.controls['mail'].errors== null && subscribeForm.controls['mail'].touched}">

        <button class="btn btn-primary" type="submit">Invia</button>
    </form>
</div>
<div *ngIf="pswSent" class="form-box">
    <h3>Ti abbiamo inviato una mail con il link...</h3>
</div>