/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,800;1,900&display=swap');




  .gridProduct{
    max-width: 1320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
  
  }
  
  .containerProduct {
    width: 100%;
    height:80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 360px;
           a{
              text-decoration: none !important;
              color: black

            }

            a:hover{
              color: black;
            }

           
        
  }
    
  
  
  .cardProduct {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    padding: .5em;

     
  }
  .cardImg{
      position: relative;
      background-color: rgb(238, 142, 142);
      padding: .3em;

      .wish{
        position: absolute;
        top: .5em;
        right: .5em;
        outline: 0;
        border-radius: 50%;
        color: red;
        background-color: white;
        border: 1px solid rgba(20, 20, 20,0.5);
        z-index: 10;
      }
  }
  
  
  .cardImg img {
    width: 100%;
    height: 180px;
  }
  
  .cardProductBody {
    padding: 5px;
  }
  .productName {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    justify-items: flex-start;

        .details{
          justify-self: end;
        }
  }
  
  .cardProductBody p {
    color: #3d3d3d;
    margin-bottom: 20px;
    font-size: .8em;
  }

 

  
  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .buttons button{
    border: 0;
  }
  

  .description{
    max-height: 0;
    opacity: 0;
   transition: .2s;
  }

  
  .containerProduct:hover .description{
    max-height: 300px;
    z-index: 2;
    opacity: 1;
    transition: .7s;
    
  }

  .containerProduct:nth-child(even) .cardImg{
    background-color: rgb(138, 170, 231);

  }

  .containerProduct:nth-child(odd) .cardImg{
    background-color: rgb(238, 142, 142);

  }
  

