/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,800;1,900&display=swap');


 

  .gridProduct{
    max-width: 1320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;  
    justify-content: space-between;
  
  }
  
  .containerProduct {
    width: 100%;
    height:80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 360px;
           a{
              text-decoration: none !important;
              color: black

            }

            a:hover{
              color: black;
            }

           

           
        
  }

  .brandBox{
    width: 300px;
    height: 160px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;

      img{
        max-width: 100%;
        filter:grayscale(100%)
      }

      a:hover img{
        filter: grayscale(0);
        transition: .5s;
      }
  }
    
  
  
  .cardProduct {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    padding: .5em;

     
  }
  .cardImg{
      position: relative;
      background-color: rgb(238, 142, 142);
      padding: .3em;
      overflow: hidden;
      border-radius: 5px;

      .wish{
        position: absolute;
        top: .5em;
        right: .5em;
        outline: 0;
        border-radius: 50%;
        color: red;
        background-color: white;
        border: 1px solid rgba(20, 20, 20,0.5);
        z-index: 10;
      }

      .discountBadge{
        position: absolute;
        top: 0;
        left: -15%;
        width: 53%;
        background-color: rgb(0, 158, 71);
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        transform: rotate(-45deg);
        text-align: center;
        padding: .5em;
        font-size: 1.3em;
        color: white;

      }
  }
  
  
  .cardImg img {
    width: 100%;
    height: 180px;
  }
  
  .cardProductBody {
    padding: 5px;
  }

  .productName {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    justify-items: flex-start;
    grid-template-areas: 
    "prodName prodName"
    "price butDetails";

        h5{
          grid-area: prodName;
        }

        h6{
          grid-area: price;
          margin-top: 1em;
        }

        .details{
          justify-self: end;
          grid-area: butDetails;
        }
  }
  
  .cardProductBody p {
    color: #3d3d3d;
    margin-bottom: 20px;
    font-size: .8em;
  }

 

  
  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .buttons button{
    border: 0;
  }
  

  .description{
    max-height: 0;
    opacity: 0;
   transition: .2s;
  }

  
  .containerProduct:hover .description{
    max-height: 300px;
    z-index: 2;
    opacity: 1;
    transition: .7s;
    
  }

  .containerProduct:nth-child(even) .cardImg{
    background-color: rgb(138, 170, 231);

  }

  .containerProduct:nth-child(odd) .cardImg{
    background-color: rgb(238, 142, 142);

  }

  @media screen and (max-width:1400px){
    .gridProduct{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (max-width:1024px){
    .gridProduct{
      grid-template-columns: 1fr 1fr;
      
    }
  }  

  @media screen and (max-width:768px){
    .gridProduct{
      grid-template-columns: 1fr ;
    }

    .cardProduct{
      width: 350px;
    }

    .cardImg .discountBadge{
      left: -18%;
    }
  }  

