<div class="heroBanner">
    <div class="row">
        <div class="col-5 align-self-center">
            <h1 class="display-4 ms-5 mt-5 text-white">Lo store di scarpe più grande in Italia </h1>

            <p class="lead ms-5 text-white">Cerca tra i migliori marchi la tua calzatura prefertita! </p>

        </div>

        <div class="col-7 align-self-center mb-5">
            <img class="hero-img" src="assets/img/nike-basket.png" alt="">
        </div>
    </div>



</div>

<section class=" container my-5 p-0">

    <div class="gridWrap">
        <div class="boxType1"><img class="boxImg" src="assets/img/woman-run.png" alt="">
            <a routerLink="/"><span class="hoverType">Running</span></a>
        </div>
        <div class="boxType2"><img class="boxImg" src="assets/img/man-skate.png" alt="">
            <a routerLink="/"><span class="hoverType">Outdoor</span></a>
        </div>
        <div class="boxType3"><img class="boxImg" src="assets/img/man-classic.png" alt="">
            <a routerLink="/"><span class="hoverType">Classic</span></a>
        </div>
        <div class="boxType4"><img class="boxImg" src="assets/img/cinese-calcio.png" alt="">
            <a routerLink="/"><span class="hoverType">Soccer</span></a>
        </div>
    </div>


    <h2 class="display-4 text-center my-5 text-dark">Most Seller</h2>



    <!-- PRODOTTO SINGOLO-->
    <div class="gridProduct">

    <div class="containerProduct">
        <div class="cardProduct">
            <div class="cardImg">
            <img src="assets/img/air-jordan.png"
                alt="" />
            </div>
            <div class="cardProductbody">
                <div class="productName">
                    <div class="card-title">
                        <h4>Air Jordan</h4>
                        <h3>120 &#8364;</h3>
                    </div>
                </div>
                <hr />
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,dignissimos.
                </p>
                <div class="buttons">
                    <div class=" btn-sm btn-success text-white">
                        <a class="btn-sm btn-success text-white" href="">Compra ora <svg class="text dark"
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg></a>
                    </div>
                    <a class="btn-sm btn-danger text-white" href="">Rimuovi <svg class="text dark"
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg></a>
                </div>
            </div>
        </div>
    </div> <!--PRODOTTO SINGOLO-->

    <div class="containerProduct">
        <div class="cardProduct">
            <div class="cardImg">
            <img src="assets/img/vans.png"
                alt="" />
            </div>
            <div class="cardProductbody">
                <div class="productName">
                    <div class="card-title">
                        <h4>Vans</h4>
                        <h3>70 &#8364;</h3>
                    </div>
                </div>
                <hr />
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,dignissimos.
                </p>
                <div class="buttons">
                    <div class=" btn-sm btn-success text-white">
                        <a class="btn-sm btn-success text-white" href="">Compra ora <svg class="text dark"
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg></a>
                    </div>
                    <a class="btn-sm btn-danger text-white" href="">Rimuovi <svg class="text dark"
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg></a>
                </div>
            </div>
        </div>
        </div>

        <div class="containerProduct">
            <div class="cardProduct">
                <div class="cardImg">
                <img src="assets/img/adidas-alpha.png"
                    alt="" />
                </div>
                <div class="cardProductbody">
                    <div class="productName">
                        <div class="card-title">
                            <h4>Adidas Alpha</h4>
                            <h3>100 &#8364;</h3>
                        </div>
                    </div>
                    <hr />
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,dignissimos.
                    </p>
                    <div class="buttons">
                        <div class=" btn-sm btn-success text-white">
                            <a class="btn-sm btn-success text-white" href="">Compra ora <svg class="text dark"
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-cart" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg></a>
                        </div>
                        <a class="btn-sm btn-danger text-white" href="">Rimuovi <svg class="text dark"
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg></a>
                    </div>
                </div>
            </div>
            </div>

            <div class="containerProduct">
                <div class="cardProduct">
                    <div class="cardImg">
                    <img src="assets/img/puma.png"
                        alt="" />
                    </div>
                    <div class="cardProductbody">
                        <div class="productName">
                            <div class="card-title">
                                <h4>Puma</h4>
                                <h3>60 &#8364;</h3>
                            </div>
                        </div>
                        <hr />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,dignissimos.
                        </p>
                        <div class="buttons">
                            <div class=" btn-sm btn-success text-white">
                                <a class="btn-sm btn-success text-white" href="">Compra ora <svg class="text dark"
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-cart" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg></a>
                            </div>
                            <a class="btn-sm btn-danger text-white" href="">Rimuovi <svg class="text dark"
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-cart" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg></a>
                        </div>
                    </div>
                </div>
                </div>

    
</div> <!--FINE GRID PRODOTTI-->


   

    







</section>