.heroBanner{
    background-color: rgb(235, 161, 112);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,161,112,1) 0%, rgba(255,191,158,1) 100%);
    border-radius: 0.25em;

    .hero-img{
        max-width: 90%;
        transform: rotate(-10deg);
        outline: 3px solid rgb(245, 161, 112);
        border: 10px solid white;
        border-radius: 1em;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,161,112,1) 0%, rgba(255,191,158,1) 100%);
        box-shadow: 5px 5px 5px rgb(155, 112, 72);

    }

    
    
}

section{

    .gridWrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        grid-template-areas: 
        "box1 box2 box3 box4"
        ;
    }


    .boxType1{
       position: relative;
       background-color: rgb(223, 59, 86);
        height: 300px;
        border: 2px solid rgb(235, 161, 112);
        border-radius: .5em;
        grid-area: box1;
        transition: all .5s;
        overflow: hidden;
    }
    .boxType2{
        position: relative;
        height: 300px;
        background-color: rgb(0, 255, 115);
        grid-area: box2;
        border: 2px solid rgb(235, 161, 112);
        border-radius: .5em;
        transition: all .5s;
        overflow: hidden;
    }
    .boxType3{
        position: relative;
        height: 300px;
        background-color: rgb(0, 81, 255);
        grid-area: box3;
        border: 2px solid rgb(235, 161, 112);
        border-radius: .5em;
        transition: all .5s;
        overflow: hidden;
    }
    .boxType4{
        position: relative;
        height: 300px;
        background-color: rgb(255, 230, 0);
        grid-area: box4;
        border: 2px solid rgb(235, 161, 112);
        border-radius: .5em;
        transition: all .5s;
        overflow: hidden;
    }

    .boxType1:hover .hoverType{
        visibility: visible;
        opacity: 1;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
       
    }
    .boxType2:hover .hoverType{
        visibility: visible;
        opacity: 1;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
       
    }
    .boxType3:hover .hoverType{
        visibility: visible;
        opacity: 1;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
       
    }
    .boxType4:hover .hoverType{
        visibility: visible;
        opacity: 1;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
       
    }

    .hoverType{
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        line-height: 300px;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-style: italic;
        font-weight: 900;
        font-size: 3em;
        color: white;
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
    }
   
    
    .boxImg{
        max-width: 100%;
        padding: .5em;
    }

    @media screen and (max-width:1250px){
        .gridWrap{
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "box1 box2"
            "box3 box4";
        }
        .boxType1,.boxType2,.boxType3,.boxType4{
            height: 400px;
        }
        .hoverType{
            line-height: 400px;
        }


        
    }
    
    @media screen and (max-width:768px){
        .gridWrap{
            grid-template-columns: 1fr ;
            grid-template-areas: 
            "box1 "
            "box2"
            "box3"
            "box4";
        }
        
    }
    

}

.bannerOffer{
    display: block;
    margin: 0 auto;
    margin-bottom: 3em;
    width: 100%;
    border-radius: .5em;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}



