<div class="heroBanner">
    <div class="row">
        <div class="col-5 align-self-center">
             <h1 class="display-4 ms-5 mt-5 text-white">Lo store di scarpe più grande in Italia </h1>

             <p class="lead ms-5 text-white">Cerca tra i migliori marchi la tua calzatura prefertita! </p>
            
        </div>

        <div class="col-7 align-self-center mb-5">
            <img class="hero-img" src="assets/img/nike-basket.png" alt="">
        </div>
    </div>



</div>

<section class=" container my-5 p-0">

       <div class="gridWrap">
        <div class="boxType1"><img class="boxImg" src="assets/img/woman-run.png" alt="">
            <a routerLink="/"><span class="hoverType">Running</span></a></div>
        <div class="boxType2"><img class="boxImg" src="assets/img/man-skate.png" alt="">
            <a routerLink="/"><span class="hoverType">Outdoor</span></a></div>
        <div class="boxType3"><img class="boxImg" src="assets/img/man-classic.png" alt="">
            <a routerLink="/"><span class="hoverType">Classic</span></a></div>
        <div class="boxType4"><img class="boxImg" src="assets/img/cinese-calcio.png" alt="">
            <a routerLink="/"><span class="hoverType">Soccer</span></a></div>
    </div>

</section>